# Dependências do Node (nunca sobem para o repositório)
node_modules/

# Arquivos de variáveis de ambiente com dados sensíveis/senhas
.env
.env.local
.env.development.local

# Logs de erro e execução
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas de compilação/build
dist/
build/
.next/
out/

# Arquivos temporários do VS Code / Sistema
.vscode/
.DS_Store
Thumbs.db